<div class="page-container">
  <div class="card-container table-card">
    <p-table
      styleClass="table-container"
      [value]="tableData.list"
      resizableColumns="true"
      [lazy]="true"
      [customSort]="true"
      (onLazyLoad)="onLazyLoad($event)"
      [reorderableColumns]="true"
      [columns]="tableCols"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <!-- 表头 -->
      <ng-template pTemplate="header">
        <tr>
          <th
            pReorderableColumn
            [pSortableColumn]="col.disableSort ? undefined : col.field"
            pResizableColumn
            *ngFor="let col of tableCols"
          >
            <div class="flex gap-4 items-center">
              {{ col.header }}
              <p-sortIcon [field]="col.field" *ngIf="!col.disableSort" />
              <ng-template [ngIf]="!col.disableFilter && col.type !== 'other'">
                <p-columnFilter [type]="col.type" [field]="col.field" display="menu" />
              </ng-template>
            </div>
          </th>
          <th>操作</th>
        </tr>
      </ng-template>
      <!-- 表体内容 -->
      <ng-template pTemplate="body" let-data>
        <tr>
          <td *ngFor="let col of tableCols">
            <ng-template [ngIf]="col.contentType !== 'special'">
              <span [title]="data[col.field]">{{ data[col.field] }}</span>
            </ng-template>
          </td>
          <td>
            <div class="flex">
              <p-button label="详情" size="small" text icon="pi pi-info" severity="info"></p-button>
              <p-button label="数据" size="small" text icon="pi pi-chart-bar" severity="primary"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <!-- 空表格 -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <app-table-empty />
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      *ngIf="tableData.total"
      class="flex justify-end mt-2"
      (onPageChange)="onPageChange($event)"
      [first]="tableData.getOffset()"
      [rows]="tableData.pageSize"
      [totalRecords]="tableData.total"
      [rowsPerPageOptions]="[10, 20, 30, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="总共 {totalRecords} 条数据"
    />
  </div>
</div>
